<app-card customClass="points-timing">
  <div style="margin: 5px 0px">
    Score: <span id="points">{{ score }}</span>
  </div>
  <div id="timer" [ngClass]="{ margin: !gameIsRunning }">
    Time: <span id="countdown">{{ timeLeft }}</span> secs
  </div>
  <div class="margin">
    <app-button
      btnText="Start Again"
      (click)="startNewGame()"
      *ngIf="!gameIsRunning"
    ></app-button>
  </div>

  <app-button
    btnText="Save My Records"
    *ngIf="!gameIsRunning && (isLoggedIn$ | async)"
    (click)="onSaveRecords()"
    [isDisabled]="isButtonDisabled"
  ></app-button>
</app-card>
<app-status-message></app-status-message>
