<form
  class="gy-2 gx-3 align-items-center"
  id="loginForm"
  (ngSubmit)="doLogin()"
>
  <div class="col-auto">
    <label class="visually-hidden" for="username">Name</label>
    <input
      [(ngModel)]="username"
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="User name"
      required
    />
  </div>

  <div class="col-auto">
    <label class="visually-hidden" for="password">Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Password"
      required
    />
  </div>

  <app-button></app-button>
</form>
