.records-container {
  justify-content: center;
  align-items: center;
}

.records-container-table {
  background-color: #ffffff;
  padding: 40px 70px;
  border-radius: 10px;
  margin: 70px;
}

.tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
