body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0px !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.my-container {
  width: 80%;
  display: flex;
  flex: 1;
}

.glitter {
  -webkit-mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.hide-footer app-footer {
  display: none;
}
